<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		
		<section name="fxServerConfig" type="Proline.ServerLauncher.Program.FXServerConfig, ProjectOnline"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>

	<fxServerConfig>
		<resources>
			<resource name="client-core"/>
			<resource name="server-core"/>
		</resources>
		<groups>
			<group name="admin" type="command" access="allow"/>
			<group name="moderator" type="command" access="allow"/>
		</groups>
		<principals>
			<principal identifier="steam:110000112345678" group="admin"/>
			<principal identifier="steam:110000101f1cbad" group="admin"/>
		</principals>
		<tags>
			<tag name="roleplay"/>
			<tag name="original"/>
			<tag name="freeroam"/>
			<tag name="gtaonline"/>
		</tags>
	</fxServerConfig>
	
	<appSettings>
		<add key="scriptHookAllowed" value="0"/>
		<add key="authMaxVariance" value="3"/>
		<add key="authMinTrust" value="3"/>
		<add key="steamAPIKey" value="91C664CE293083B6DBE314649D7EF9FD"/>
		<add key="licenceKey" value="3c7xjpzrm0gru8buqlxhho8mu9iybl2q"/>
		<add key="projectName" value="Project Online"/>
		<add key="projectDesc" value="A true shit show"/>
		<add key="serverIcon" value=""/>
		<add key="isVisable" value="false"/>
		<add key="serverName" value="Wayno's Shit show"/>
		<add key="maxClients" value="32"/>
		<add key="rconPassword" value="test"/>
		<add key="FXServerDir" value="E:\servers\Game_Servers\FiveM"/>
	</appSettings>

	<log4net>
		<appender name="console" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level %logger - %message%newline" />
			</layout>
		</appender>
		<appender name="file" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString" value="E:\logs\%property{log4net:HostName}.log" />
			<appendToFile value="true" />
			<datePattern value="_yyyyMMddHH" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<preserveLogFileNameExtension value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d [%t] %-5p %c [%x] - %m%n" />
			</layout>
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="console" />
			<appender-ref ref="file" />
		</root>
	</log4net>


	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>

</configuration>
